body {
    background-image: url("../images/galaxy.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;   
    font-family: 'Impact', Helvetica, sans-serif;
    color: #dbb717;
    ;
}

p {
    font-size: 20pt;
}

h1 {
	font-weight: bold;
    text-align: center;
    font-size: 40pt;
}

.header {
    margin-top: 60px;
}

.button-position {
    margin-top: 160px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

 .gamePhoto {
    border: 5px solid #dbb717;
    display: block;
    max-width: 100%;
    height: auto;
} 

.reset-button ,.start-button {
    color: #dbb717;
    background-color: #000000;
    text-align: center;
}

.timer-disp {
    margin-top: 30px;
}

.answer {
    padding-top: 5px;
    height: 50px;
    color: black;
    padding-left: 20px;
    background-color: #dbb717;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.answer:hover {
    background: #dfcb76;
}

/* media queries */

@media screen and (max-width: 980px) {
	.container {
	 	max-width: 940px;
	}
  
  }
  @media screen and (max-width: 768px) {
	.container {
	  	max-width: 750px;
    }
    
    h1 {
        font-size: 30pt;
    }

  }

  @media screen and (max-width: 640px) {
	.container {
		max-width: 600px;
    }

    p {
        font-size: 14pt;
    }
    
    h1 {
        font-size: 30pt;
    }

    .answer {
        padding-top: 6px;
        height: 40px;
    }

    .gamePhoto {
        border: 5px solid #dbb717;
    } 
  }